/***************
 * TEXT-REVEAL *
 ***************/

@keyframes textanimation {
    0% {
      transform: translateY(105%);
      -webkit-transform: translateY(105%);
      -moz-transform: translateY(105%);
      -ms-transform: translateY(105%);
      -o-transform: translateY(105%);
}
    100% {
      transform: translateY(0);
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
}
  }