body {
    margin: 0;
    padding: 0;
    background: $black;
    font-family: 'Poppins', sans-serif;
    color: $white;
}

.container-fluid {
    width: 98%;
    margin: auto;
}

.red{
    color:$red;
}