.hero {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px;
    box-sizing: border-box;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    background:$black;
    z-index: 1;

    .heroBackground {
        position: fixed;
        background: url(../images/background2.png);
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        width:100vw;
        height: 100vh;
    }

    h1 { 
        @extend %title;
        overflow: hidden;
        display: block;
        width: 100%;

        span {
            display: inline-block;
            animation: textanimation 1s backwards;
            -webkit-animation: textanimation 1s backwards;
        }

        .stroke {
            @extend %textStroke;
        }

        &:nth-child(2) {
            span {
                animation-delay: 0.4s;
            }
        }

        &:nth-child(3) {
            span {
                animation-delay: 0.6s;
            }
        }

        &:nth-child(4) {
            span {
                animation-delay: 0.8s;

                &:nth-child(2) {
                    animation-delay: 1s;
                    color: $red;
                    margin-left: 10px;
                }
            }

        }

    }

   

    .startTour {
        border: 1px solid $red;
        display: block;
        width: auto !important;
        padding: 20px;
        font-size: 18px;
        color: $red;
        text-decoration: none;
        margin-top: 20px;
        max-width: 300px;
        position: relative;
        transition: color 0.5s ease-in;
        -webkit-transition: color 0.5s ease-in;
        -moz-transition: color 0.5s ease-in;
        -ms-transition: color 0.5s ease-in;
        -o-transition: color 0.5s ease-in; 
        &::before{
            content: "";
            position: absolute;
            height: 100%;
            width: 0;
            background: $red;
            top: 0;
            left: 0;
            transition: width 0.5s ease-in, color 0.5s ease-in;
            -webkit-transition: width 0.5s ease-in, color 0.5s ease-in;
            -moz-transition: width 0.5s ease-in, color 0.5s ease-in;
            -ms-transition: width 0.5s ease-in, color 0.5s ease-in;
            -o-transition: width 0.5s ease-in, color 0.5s ease-in;
}

        &:hover {
            color: $white;

            &::before {
                width: 100%;
                content: '';
                color: $white;
            }
        }

        span{
            position: relative;
            z-index: 1;
        }

    }



}