$black:#1c1c1c;
$red:#DB162F;
$green:#B3DEC1;
$white:#fff;

%title{
    font-size: 12vw;
    font-weight: 700;
    line-height: 0.9em;
    text-transform:uppercase;
    letter-spacing: -0.5vw;
    margin:0;
    padding:0;
}

%textStroke{
    -webkit-text-stroke: .2vw $white;
    color: transparent;
}

%menuCache{
    position: absolute;
    right: 0;
    width: 80px;
    height: 100vh;
    background: $black;
}

%boxInfos{
   width: 90%;
   border-radius: 20px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   -ms-border-radius: 20px;
   -o-border-radius: 20px;
   margin-bottom: 50px;

}


