$brown:#2E0E04;
$pink:#FFDDE2;
$green:#B3DEC1;
$black:#1c1c1c;
$white:#fff;

%title{
    font-size: 12vw;
    font-weight: 700;
    line-height: 0.9em;
    text-transform:uppercase;
    letter-spacing: -0.5vw;
}

%textStroke{
    -webkit-text-stroke: 2px $brown;
    color: transparent;
}

